<div class="container-fluid">
    <div class="text-center mb-2">
        <form [formGroup]="options">
            <div class="btn-group col-3">
                <input type="radio" class="btn-check" formControlName="day" value="Thu" id="type0" />
                <label class="btn btn-outline-secondary" for="type0">
                    Thu
                </label>
                <input type="radio" class="btn-check" formControlName="day" value="Fri" id="type1" />
                <label class="btn btn-outline-secondary" for="type1">
                    Fri
                </label>
                <input type="radio" class="btn-check" formControlName="day" value="Sat" id="type2" />
                <label class="btn btn-outline-secondary" for="type2">
                    Sat
                </label>
                <input type="radio" class="btn-check" formControlName="day" value="Sun" id="type3" />
                <label class="btn btn-outline-secondary" for="type3">
                    Sun
                </label>
            </div>
        </form>
    </div>
    <table class="table table-bordered text-center align-middle">
        <thead>
            <th>Time</th>
            <th>Reception Area</th>
            <th>Main Room</th>
            <th>Lake Terrace</th>
            <th>Outdoor Stage</th>
            <th>Pool Area</th>
        </thead>
        <tbody *ngIf="options.value.day !== 'Thu'">
            <tr>
                <th>08:00 - 09:00</th>
                <th colspan="5" rowspan="2" class="table-secondary">Breakfast</th>
            </tr>
            <tr>
                <th>09:00 - 10:00</th>
            </tr>
            <tr>
                <th>10:00 - 10:50</th>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <th>11:00 - 11:50</th>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
            </tr>
            <tr>
                <th>12:00 - 12:50</th>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
            </tr>
            <tr>
                <th>13:00 - 14:00</th>
                <th colspan="5" rowspan="2" class="table-secondary">Lunch</th>
            </tr>
            <tr>
                <th>14:00 - 15:00</th>
            </tr>
        </tbody>
        <tbody [ngSwitch]="options.value.day === 'Thu'">
            <tr>
                <th>15:00 - 15:50</th>
                <td *ngSwitchCase="true" rowspan="5">Closed</td>
                <td *ngSwitchCase="false" class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td rowspan="4" class="table-info">Pool Party</td>
            </tr>
            <tr>
                <th>16:00 - 16:50</th>
                <td *ngSwitchCase="false" class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
            </tr>
            <tr>
                <th>17:00 - 17:50</th>
                <td *ngSwitchCase="false" class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
            </tr>
            <tr>
                <th>18:00 - 18:50</th>
                <td *ngSwitchCase="false" class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
                <td class="table-warning">Workshops</td>
            </tr>
            <tr [ngSwitch]="options.value.day">
                <th>19:00 - 20:00</th>
                <td *ngIf="options.value.day != 'Thu'">Closed</td>
                <td>Closed</td>
                <td>Closed</td>
                <td *ngSwitchCase="'Thu'">Closed</td>
                <td *ngSwitchCase="'Fri'" class="table-danger">Shows</td>
                <td *ngSwitchCase="'Sat'" class="table-danger">Shows</td>
                <td *ngSwitchCase="'Sun'" class="table-danger">Jack &amp; Jill</td>
                <td></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>20:00 - 21:00</th>
                <th colspan="5" rowspan="2" class="table-secondary">Dinner</th>
            </tr>
            <tr>
                <th>21:00 - 22:00</th>
            </tr>
            <tr>
                <th>22:00 - 23:00</th>
                <td rowspan="4" class="table-info">Salsa Party</td>
                <td rowspan="5" class="table-info">Bachata Party</td>
                <td rowspan="3" class="table-info">Reggaeton & Chillout</td>
                <td rowspan="5">Closed</td>
                <td rowspan="5">Closed</td>
            </tr>
            <tr>
                <th>23:00 - 00:00</th>
            </tr>
            <tr>
                <th>00:00 - 01:00</th>
            </tr>
            <tr>
                <th>01:00 - 02:00</th>
                <td rowspan="2">Closed</td>
            </tr>
            <tr>
                <th>02:00 - 03:00</th>
                <td>Closed</td>
            </tr>
        </tbody>
    </table>
</div>