<div class="container-fluid">
  <div class="text-center">
    <div class="btn-group">
      <ng-template ngFor let-item [ngForOf]="days" let-i="index">
        <input
          type="radio"
          class="btn-check"
          [(ngModel)]="day"
          [value]="item"
          [attr.id]="'count' + i" />
        <label
          class="btn btn-outline-secondary text-uppercase"
          [attr.for]="'count' + i">
          {{ item }}
        </label>
      </ng-template>
    </div>
  </div>
  <br />
  <table class="timetable" *ngIf="timetable">
    <thead>
      <tr>
        <th style="width: 1px">Time</th>
        <th *ngFor="let area of timetable.Areas">{{ area.Description }}</th>
      </tr>
    </thead>
    <ng-container *ngIf="day !== 'Thu'">
      <tbody
        break="Breakfast"
        subtitle="(Served 08:00 &ndash; 11:00)"
        [hours]="[8, 9]"
        [areas]="timetable.Areas"></tbody>
      <tbody
        [activities]="timetable"
        [day]="day"
        [hours]="[10, 11, 12]"></tbody>
      <tbody
        break="Lunch"
        subtitle="(Served 13:00 &ndash; 15:00)"
        [hours]="[13]"
        [areas]="timetable.Areas"></tbody>
    </ng-container>
    <tbody
      [activities]="timetable"
      [day]="day"
      [hours]="[14, 15, 16, 17, 18, 19]"></tbody>
    <tbody
      break="Dinner"
      subtitle="(Served 20:00 &ndash; 22:00)"
      [hours]="[20, 21]"
      [areas]="timetable.Areas"></tbody>
    <tbody
      [activities]="timetable"
      [day]="day"
      [hours]="[22, 23, 0, 1, 2]"></tbody>
    <tbody break="Close" [hours]="[3]" [areas]="timetable.Areas"></tbody>
  </table>
</div>
