<div class="container-fluid" *ngIf="timetable">
    <div class="text-center">
        <form [formGroup]="options">
            <div class="btn-group">
                <ng-template ngFor let-item [ngForOf]="timetable.Days" let-i="index">
                    <input type="radio" class="btn-check" formControlName="day" [value]="item.Day"
                        [attr.id]="'day'+i" />
                    <label class="btn btn-outline-secondary text-uppercase" [attr.for]="'day'+i">
                        {{item.Day}}
                    </label>
                </ng-template>
            </div>
        </form>
        <br>
    </div>
    <table class="table table-sm table-bordered text-center align-middle text-uppercase" style="font-size: small;">
        <thead>
            <tr>
                <th>Time</th>
                <th *ngFor="let area of timetable.Areas">{{area.Description}}</th>
                <th>Pool Area</th>
            </tr>
        </thead>
        <ng-container *ngIf="day !== 'Thu'">
            <tbody break [hours]="[8,9]" title="Breakfast" [areas]="timetable.Areas.length"></tbody>
            <tbody slots [day]="day" [timetable]="timetable" [hours]="[10,11,12]"></tbody>
            <tbody break [hours]="[13,14]" title="Lunch" [areas]="timetable.Areas.length"></tbody>
        </ng-container>
        <tbody slots [day]="day" [timetable]="timetable" [hours]="[15,16,17,18,19]" [pool]="day === 'Thu' ? 0 : 3">
        </tbody>
        <tbody break [hours]="[20,21]" title="Dinner" [areas]="timetable.Areas.length"></tbody>
    </table>
</div>