<div [ngSwitch]="!!value">
    <div *ngSwitchCase="true" [ngSwitch]="condition">
        <span class="me-1" [class.text-capitalize]="normalize" [ngSwitch]="normalize">
            <span *ngSwitchCase="true">{{value | titlecase}}</span>
            <span *ngSwitchCase="false">{{value}}</span>
        </span>
        <i class="bi-check-circle text-success" *ngSwitchCase="true"></i>
        <i class="bi-exclamation-triangle-fill text-danger" *ngSwitchCase="false"></i>
        <i [ngClass]="nullClass" *ngSwitchCase="undefined"></i>
    </div>
    <div *ngSwitchCase="false">
        <div *ngIf="!condition">
            <span class="me-1 text-muted text-uppercase small">Unspecified</span>
            <i class="bi-exclamation-triangle-fill text-danger" *ngSwitchCase="false"></i>
        </div>
    </div>
</div>