<div [ngSwitch]="!!workshops?.length">
    <div *ngSwitchCase="true" class="row m-0 p-0">
        <div class="col m-0 p-0" *ngFor="let workshop of workshops">
            <div class="text-uppercase p-1 small" [style.background-color]="bgColor(workshop)">
                <p class="m-0"><b>{{workshop.Act}}</b></p>
                <p class="m-0">{{workshop.Title}}</p>
                <p class="m-0">{{workshop.Level}}</p>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false" class="text-uppercase text-muted small">
        Closed
    </div>
</div>